In [1]:
# The code was removed by Watson Studio for sharing.

,STATE_NAME,FHH_CHILD,STATE_FIPS,RENTER_OCC,WHITE,MED_AGE_M,recordId,FEMALES,CROP_ACR97,NO_FARMS97,...,AGE_30_39,AVG_SIZE97,AGE_22_29,HSEHLD_1_F,AGE_40_49,HAWN_PI,AGE_50_64,MHH_CHILD,FAMILIES,HOUSEHOLDS
0,Minnesota,62,27,280,4396,41.6,1,2250,78126,196,...,588,600,282,260,770,0,835,46,1267,1903
1,Washington,202,53,763,5480,39.8,2,3496,22447,179,...,815,4524,506,314,1238,4,1474,90,1988,2823
2,Washington,890,53,3283,36078,38.7,3,20126,123434,989,...,4826,531,2536,1722,6926,66,7453,431,11018,15017
3,Washington,1166,53,4715,29799,37.5,4,19858,142145,1270,...,4796,928,3212,1921,6325,28,6911,487,10585,15027
4,Washington,267,53,1049,10973,42.1,5,5851,26763,225,...,1380,281,616,536,2021,24,2430,136,3260,4639